<h1> <%= @article.title %> </h1>

<h4> <%= @article.content %> </h4>

<%= link_to "All Articles", articles_path %>

<%= link_to "Edit this article", edit_article_path(@article) %>

<%= link_to "Delete this article", article_path(@article),
            method: :delete,
            data: { confirm: "Are you sure?" } %>    